
<div class="jumbotron">
  <h1><i class="fa fa-bar-chart" aria-hidden="true"></i> Integracción y limpieza</h1>
  <p></p>
</div>

# Objetivo

Integrar todas las fuentes de datos en un único archivo con formato PICKLE, el cual será utilizado en los pasos de análisis. El archivo se almacena en el folder `data/interim/`.

In [1]:
from pandas import read_csv,set_option,Series
import  pickle
import numpy as np
import glob
import os
import json
import urllib.request
from os import path
#from dotenv import load_dotenv, find_dotenv

os.chdir("..")
set_option('display.width', 1000)

# Obtención de los datos

### Download

In [2]:
# Lista de URs de los meses que se analizan 
urls = ['','','']

# Download
for url in urls :
    filename = url.split('/')[-1]
    path_file = 'data/raw/' + filename
    if not path.exists(path_file):
        urllib.request.urlretrieve(url, path_file)

In [3]:
"""
# Fuentes y diccionario de datos

### Sobre los datos

### Diccionario de datos

### ¿Qué transformaciones ha sufrido el archivo?
"""
h=0

# Cargar datos

### Cargar todos los archivos con un misma estructura

In [4]:

path = os.getcwd()
all_files = glob.glob(os.path.join(path , "../data/raw/*.*"))

#lista de dataframes
li = []

for filename in all_files:
    df = read_csv(filename, index_col=None, header=0)
    
    li.append(df)

# df = pd.concat(li, axis=0, ignore_index=True)

In [5]:
!ls

artifacts            data                 notebooks
conf                 images               notebooks_clustering
controllers          mlruns               utils

### Carga individual

In [6]:
df = read_csv('data/raw/Mall_Customers.csv')

# Descripción

### Mostrar los 5 primeros renglones

In [7]:
 df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

### Mostart las dimensiones del `Dataframe`

In [8]:
df.shape

(200, 5)

<div class="alert alert-info" role="alert">
<ul>
<li> insights ... </ul>
</div>

### Nombre de las columnas

In [9]:
list(df.columns)

['CustomerID', 'Gender', 'Age', 'Annual Income (k$)', 'Spending Score (1-100)']

### Cambiar el nombre de las variables

In [10]:
# columns = []
# df.columns = columns

### Tipo de datos detectados por Pandas

In [11]:
df.dtypes

CustomerID                 int64
Gender                    object
Age                        int64
Annual Income (k$)         int64
Spending Score (1-100)     int64
dtype: object

### Dar formato de datetime a las variables de tiempo y fechas

In [12]:
# Formatos de fecha comunes
format= '%Y-%m-%d %H:%M:%S'
format_alternativo = '%m/%d/%Y %H:%M:%S'
    
# Catch string to datetime
# df['datetime'] = pd.to_datetime(df[''],format=formato)


# Filtro para conversión
# df[''] = df[''].str.replace('\..*', '')

# df[''] = df[''].apply(lambda x: len(x))


# Extraer periodo de tiempo
# df['periodo'] = df.__.apply(lambda x: x.strftime('%Y-%m'))

# Extracción de partes de la fecha
# df_movie['year']=df_movie[''].dt.year
# df_movie['month']=df_movie[''].dt.month
# df_movie['day']=df_movie[''].dt.day

### Estandarizar fecha

In [13]:
#from utils.datime_format import datetime_convert

# format = '%Y-%m-%d %H:%M:%S'

# df.__.apply(lambda x: datetime_convert(x,output_format= format))

### Valores nulos o faltantes

In [14]:
df.isnull().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

### Valores nulos como porcentaje

In [15]:
((df.isnull().sum() / len(df))*100).sort_values(ascending = False)

CustomerID                0.0
Gender                    0.0
Age                       0.0
Annual Income (k$)        0.0
Spending Score (1-100)    0.0
dtype: float64

<div class="alert alert-info" role="alert">
<ul>
<li> En términos generales, se suelen considerar los siguientes grados de impacto, dependiendo del porcentaje de valores faltantes (dumb rules):

- Menos de 1%: Trivial (no relevante)
- 1-5%: Manejable
- 5-15%: Manejable mediante métodos sofisticados
- Más de 15%: Crítico, con impacto severo en cualquier tipo de interpretación
 
    
Debido a que la mayoría de la variables contiene datos ausentes con un porcentaje inferior al 1% se procederá a remover dichas muestras. La variables 'Genero_Usuario' al no rebasar el 5% de datos ausentes puede continuar dentro de las variables de análisis sin un mayor impacto que remover la muetras que contienen valores nulos.
    
<li> Nota: Por falta de tiempo no se lidia con los datos faltantes de la variable Genero_Usuario. En un entorno productivo si la varible sobre pasa en 1% se debe utilizar tecnicas de inputación de datos para reducir el porcentaje de valores nullos.
    
</div>

### Analisis de valores faltantes

In [16]:
#

### Inputación de valores faltantes

In [17]:
df.shape

(200, 5)

In [18]:
# Se eliminan
df.dropna(inplace=True)

In [19]:
df.shape

(200, 5)

### Número de muestras eliminados

### Valores duplicados

In [20]:
# Remover los datos duplicados
df.drop_duplicates(keep='first',inplace=True)

In [21]:
df.shape

(200, 5)

In [22]:
# Núm. de registros eliminados

### Verificar datos

In [23]:
# Datos nulos
((df.isnull().sum() / len(df))*100).sort_values(ascending = False)

CustomerID                0.0
Gender                    0.0
Age                       0.0
Annual Income (k$)        0.0
Spending Score (1-100)    0.0
dtype: float64

### Obtener el nombre de las variables categorical

In [24]:
#NA
#categorical = ['variety']

### Convertir las variables a tipo `category`

In [25]:
# save category dict
# dict_cat_to_code = Series(df['variety'].unique()).to_dict()

# with open("data/interim/dict_cat_to_code.json", "w") as outfile:
#    json.dump(dict_cat_to_code, outfile)

In [26]:
# for name in categorical :
df['Gender']= df['Gender'].astype("category")
#df['class']= df['variety'].astype("category").cat.codes.values

In [27]:
df.dtypes

CustomerID                   int64
Gender                    category
Age                          int64
Annual Income (k$)           int64
Spending Score (1-100)       int64
dtype: object

### Almacenar el `dataframe` en formato pickle

In [28]:
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [29]:
# Store data en formar pickle
with open('data/interim/format.pickle', 'wb') as handle:
    pickle.dump(df, handle)