
<div class="jumbotron">
  <h1><i class="fa fa-bar-chart" aria-hidden="true"></i> Modelado de datos</h1>
  <p></p>
</div>

In [1]:
import os
#os.environ["MODIN_ENGINE"] = "ray"  # Modin will use Ray
os.environ["MODIN_ENGINE"] = "dask"  # Modin will use Dask
import modin.pandas as pd
import pandas as pd

In [2]:
import sys
sys.path.append("../../")

In [3]:
# Metodos leer y guardar PICKLE
import pickle
import xgboost

from datetime import datetime
# Métodos para RL
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score, confusion_matrix, accuracy_score,roc_curve
from sklearn.model_selection import StratifiedKFold
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score,precision_score
from sklearn import metrics
#Métodos MLFlow
import mlflow
import mlflow.sklearn
from sklearn.preprocessing import LabelEncoder

# Métodos pandas y numpy
from numpy import exp
from numpy import logspace
from numpy import random
from numpy import mean
from numpy import max
from numpy import arange
from pandas import DataFrame
from pandas import Series


# Métodos para Knn
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.naive_bayes import CategoricalNB
from sklearn.feature_extraction.text import HashingVectorizer
import warnings
warnings.filterwarnings('ignore')

from sklearn.metrics import classification_report, confusion_matrix
import matplotlib.pyplot as plt
from sklearn.multiclass import OneVsRestClassifier
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer  
from mlxtend.plotting import plot_confusion_matrix

In [4]:
import re
import unicodedata

In [5]:
## Tenga cuidado con sklearn y pandas en el entorno de producción.

# Cargar datos

In [6]:
# Load data (deserialize)
df_labeled = pd.read_csv('../../db/data/dataset_klopp_v1_29_11_2022.csv',encoding='utf-8')

# Resumen de datos

In [9]:
dfsummary = df_labeled.groupby(['category'])\
.size()\
.reset_index()\
.rename(columns={0:'count_'})\
.sort_values(by=['category','subcategory'])

In [1]:
df.summary.head()

NameError: name 'df' is not defined

### Eliminar variables superfluas

In [24]:
# NA

## Label

In [25]:
target = 'category'
subtarget = 'subcategory'

In [26]:
df.sort_values(by=['category'],inplace = True)

In [27]:
df_summary = df.groupby(['subcategoria-code','subcategory','category','categoria-code'])\
.size()\
.reset_index()\
.rename(columns={0:'count_'})\
.sort_values(by=['subcategoria-code','categoria-code'])
# .to_csv("summary_cat.csv")

In [28]:
df_summary

,subcategoria-code,subcategory,category,categoria-code,count_
0,0.0,Supermercado,Alimentos,0.0,131
1,1.0,Restaurante,Alimentos,0.0,152
2,2.0,Pedido a domicilio,Alimentos,0.0,18
3,3.0,Otros Alimentos,Alimentos,0.0,6
4,4.0,Plan de celular,Básicos,1.0,12
...,...,...,...,...,...
65,108.0,Hospedaje,Viajes,20.0,34
66,110.0,Vuelos/autobuses,Viajes,20.0,32
67,113.0,Hipoteca,Vivienda,21.0,2
68,119.0,Mantenimiento residencial,Vivienda,21.0,2
69,,Otros (cargos y comisiones),Finanzas,7.0,13

In [29]:

for item in range(0,3):
    
    df = pd.concat([df, df])

In [30]:
df_summary = df.groupby(['subcategoria-code','subcategory','category','categoria-code'])\
.size()\
.reset_index()\
.rename(columns={0:'count_'})\
.sort_values(by=['subcategoria-code','categoria-code'])
# .to_csv("summary_cat.csv")
df_summary

,subcategoria-code,subcategory,category,categoria-code,count_
0,0.0,Supermercado,Alimentos,0.0,1048
1,1.0,Restaurante,Alimentos,0.0,1216
2,2.0,Pedido a domicilio,Alimentos,0.0,144
3,3.0,Otros Alimentos,Alimentos,0.0,48
4,4.0,Plan de celular,Básicos,1.0,96
...,...,...,...,...,...
65,108.0,Hospedaje,Viajes,20.0,272
66,110.0,Vuelos/autobuses,Viajes,20.0,256
67,113.0,Hipoteca,Vivienda,21.0,16
68,119.0,Mantenimiento residencial,Vivienda,21.0,16
69,,Otros (cargos y comisiones),Finanzas,7.0,104

### Nicknames and Ketwords

In [31]:
df['code_target']= df['categoria-code'].astype("category").cat.codes.values
df['code_subtarget']= df['subcategoria-code'].astype("category").cat.codes.values

In [32]:
#df= df[df['subcategoria-code'] != 87]

In [33]:
#pd.set_option('display.max_rows', None)

df_cruce = df.groupby(['subcategory','code_subtarget']).size().reset_index().rename(columns={0:'count'}).sort_values(by=['code_subtarget'])

In [34]:
df_cruce

                    subcategory  code_subtarget  count
60                 Supermercado               0   1048
54                  Restaurante               1   1216
48           Pedido a domicilio               2    144
39              Otros Alimentos               3     48
49              Plan de celular               4     96
..                          ...             ...    ...
21                    Hospedaje              65    272
69             Vuelos/autobuses              66    256
20                     Hipoteca              67     16
32    Mantenimiento residencial              68     16
38  Otros (cargos y comisiones)              69    104

[70 rows x 3 columns]

In [35]:
df_summary = df.groupby(['subcategoria-code','subcategory','category','categoria-code','code_subtarget'])\
.size()\
.reset_index()\
.rename(columns={0:'count_'})\
.sort_values(by=['subcategoria-code','categoria-code'])
# .to_csv("summary_cat.csv")
df_summary

,subcategoria-code,subcategory,category,categoria-code,code_subtarget,count_
0,0.0,Supermercado,Alimentos,0.0,0,1048
1,1.0,Restaurante,Alimentos,0.0,1,1216
2,2.0,Pedido a domicilio,Alimentos,0.0,2,144
3,3.0,Otros Alimentos,Alimentos,0.0,3,48
4,4.0,Plan de celular,Básicos,1.0,4,96
...,...,...,...,...,...,...
65,108.0,Hospedaje,Viajes,20.0,65,272
66,110.0,Vuelos/autobuses,Viajes,20.0,66,256
67,113.0,Hipoteca,Vivienda,21.0,67,16
68,119.0,Mantenimiento residencial,Vivienda,21.0,68,16
69,,Otros (cargos y comisiones),Finanzas,7.0,69,104

In [36]:
labes_names = df_summary.subcategory.to_list()

In [37]:
code_relations = df_summary[['code_subtarget','subcategoria-code']].set_index('code_subtarget').to_dict()

In [38]:
with open("../../db/data/code_relations.pickle", 'wb') as handle:
    pickle.dump(code_relations, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [39]:
df[df.nickname_len > 1]

,description_source,Nickname,clean_description,kw_group,kw_category,is_only_number,is_only_lower,is_only_monto,is_stranger_things,is_special_case,...,nickname_len,stem_extend,category,subcategory,subcategoria-code,categoria-code,name⦿es-MX_category,name⦿es-MX_subcategory,code_target,code_subtarget
772,Amazon Prime*MH4IH9SA3 Amzn.com/billWA,amazon.com; amazon prime,amazon.com; amazon prime,check-in,"amazon prime,amazon",False,False,False,False,False,...,2.0,wa; bill,Básicos,Servicios de streaming,7.0,1.0,Básicos,Servicios de streaming,1,7
771,AMAZON PRIME*ID44820K3 AMZN.COM/BILL,amazon.com; amazon prime,amazon.com; amazon prime,check-in,"amazon prime,amazon",False,False,False,False,False,...,2.0,,Básicos,Servicios de streaming,7.0,1.0,Básicos,Servicios de streaming,1,7
770,AMAZON PRIME*I601M78A3 AMZN.COM/BILL,amazon.com; amazon prime,amazon.com; amazon prime,check-in,"amazon prime,amazon",False,False,False,False,False,...,2.0,,Básicos,Servicios de streaming,7.0,1.0,Básicos,Servicios de streaming,1,7
769,AMAZON PRIME*GL3169IX3 AMZN.COM/BILL,amazon.com; amazon prime,amazon.com; amazon prime,check-in,"amazon prime,amazon",False,False,False,False,False,...,2.0,,Básicos,Servicios de streaming,7.0,1.0,Básicos,Servicios de streaming,1,7
767,AMAZON PRIME*D25RV3S53 AMZN.COM/BILL,amazon.com; amazon prime,amazon.com; amazon prime,check-in,"amazon prime,amazon",False,False,False,False,False,...,2.0,,Básicos,Servicios de streaming,7.0,1.0,Básicos,Servicios de streaming,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,JUGUETRON T701 LEGO STO CIUDAD DE MEXIC,lego; juguetron,lego; juguetron,check-in,"juguetron,lego",False,False,False,False,False,...,2.0,sto,Entretenimiento,Juguetes,31.0,6.0,Entretenimiento,Juguetes,6,26
344,Ret. ISR de Inversion,inversion; retencion isr,inversion; retencion isr,check-in,"retencion isr,inversion",False,False,False,False,False,...,2.0,retiro de,Impuestos,ISR,49.0,8.0,Impuestos,ISR,8,36
846,PALACIODEHIERRO MANGO S MEXICO,tiendas mango; palacio de hierro,tiendas mango; palacio de hierro,check-in,palacio de hierro,False,False,False,False,False,...,2.0,mexico,Sin clasificación,Sin clasificación,87.0,17.0,Sin clasificación,Sin clasificación,14,50
2432,UBER *CORNERSHOP,uber; cornershop,uber; cornershop,check-in,"cornershop,uber",False,False,False,False,False,...,2.0,,Transporte,Transporte,99.0,19.0,Transporte,Transporte,16,61
2457,Aeromexico CTS EXPEDIA Mexico City,expedia; aeromexico,expedia; aeromexico,check-in,"aeromexico,expedia",False,False,False,False,False,...,2.0,cts,Viajes,Vuelos/autobuses,110.0,20.0,Viajes,Vuelos/autobuses,17,66

In [40]:
df['kw_category'] = df['kw_category'].apply(lambda x : x.split(','))

In [41]:
df = df.sort_values(by ='kw_category')

In [42]:
df['kw_category_str'] = [' '.join(i) for i in df['kw_category']]

In [43]:
df = df[['kw_category_str','code_subtarget']]

## Scaler

In [44]:
from sklearn.preprocessing import StandardScaler
#scaler = StandardScaler()
#scaler.fit(X)
#X = scaler.transform(X)

# Modeling

Por lo general, se experimenta con al menos 3 algoritmos de ML, pero debido a los tiempos de planeación, sólo se experimentará con uno, y dependiendo si los resultados no superan un rendimiento mínimo del 70% a nivel de subclases y 80 % al nivel de clases se optara por otro algoritmos.

Se experimenta con un enfoque de ensamble, el primer modelo es RandomForest.

Podemos ver los resultados de MLFlow si ejecutamos en la terminal:



 _mlflow ui -p 1234_

## Hiperparámetros

In [45]:
seed = 9
random.seed(seed)
num_folds = 2
n_features = 2**8
anomaly_weights = [1,2,4, 5, 7, 10, 15]
penalty = ['l1', 'l2', 'elasticnet']
C = logspace(-3,3,7)

threshold = 0.70

# define 10-fold cross validation test harness
kfold = StratifiedKFold(n_splits= num_folds, shuffle=True, random_state=seed)
logs = []

Los algoritmos de ML sólo pueden detectar patrones en espacios numéricos, debido a ello es necesario transformar las descripciones en vectores numéricos. El enfoque seleccionado para este caso en particular son vectores hash, la decisión de tomar este enfoque es que el problema a resolver se no sólo se centra en el modelo ML, la mayoría de sus carga de trabajo se centra en búsqueda. Al utilizar un hash, podemos atacar los dos problemas principales, la representación de los datos en un contexto numérico y la aceleración de las búsquedas de los textos.

In [46]:
labels = df['code_subtarget'].to_list()

In [47]:
#from sklearn.preprocessing import OneHotEncoder
#only_url = OneHotEncoder().fit_transform(df_labes.only_url).toarray()

#dummies = pd.get_dummies(df_labes['only_url'],prefix='only_url',drop_first=True)
#df_labes = pd.concat([df_labes, dummies], axis=1)

In [48]:
vectorizer = CountVectorizer(analyzer='word', ngram_range=(1, 1)) 
X = vectorizer.fit_transform(df['kw_category_str']) 
bow_wcount = pd.DataFrame(X.A, columns=vectorizer.get_feature_names_out())

In [49]:
#vectorizer = TfidfVectorizer( use_idf=False) 
#X = vectorizer.fit_transform(df_labes['bow']) 
#bow_rfidf = pd.DataFrame(np.round(X.A,3), columns=vectorizer.get_feature_names_out())

In [50]:
vectorizer = HashingVectorizer(n_features=n_features,norm=None, alternate_sign=False, dtype=int)

bow_hash =  vectorizer.fit_transform(df['kw_category_str']).toarray()
bow_hash = pd.DataFrame(bow_hash)
bow_hash = bow_hash.add_prefix('idx_hash_')

In [51]:
bow_hash.reset_index(inplace=True, drop=True)
bow_wcount.reset_index(inplace=True, drop=True)
df.reset_index(inplace=True, drop=True)

In [52]:
dataset_bow_hash = pd.concat([df, bow_hash], axis=1)
dataset_bow_hash.sort_values(by=['code_subtarget'],inplace = True)

dataset_bow_wcount = pd.concat([df, bow_wcount], axis=1)
dataset_bow_wcount.sort_values(by=['code_subtarget'],inplace = True)

In [53]:
dataset_bow_wcount.to_csv("dataset_bow_wcount.csv",index = False)
dataset_bow_hash.to_csv("dataset_bow_hash.csv",index = False)

In [54]:
del dataset_bow_wcount['kw_category_str']
del dataset_bow_hash['kw_category_str']

## set dataset train

In [58]:
dataset = dataset_bow_wcount

In [59]:
Y = dataset['code_subtarget']
            
le = LabelEncoder()
Y_ = le.fit_transform(Y)
# asdkjlksda

In [60]:
del dataset['code_subtarget']

In [61]:
X = dataset.to_numpy()

In [62]:
X

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [63]:

cv_acc = []
cv_real = []
cv_pred = []

uri = 'file:/Users/developer6/Documents/Klopp/backend/microservices/categorization/experiments/mlflow/mlruns'
db_con = 'postgresql://user:admin@localhost:54320/mlflow_db'

#mlflow.log_artifact('x_train.txt')
#mlflow.set_tracking_uri(db_con)


# Setting the MLflow client
#client = mlflow.tracking.MlflowClient(tracking_uri =db_con  )

tags = {"iter" : '1ra', "realease":'2','sprint':'SP37'}

#experiment_id = mlflow.create_experiment('RF_('+datetime.now().strftime("%H:%M:%S")+')', artifact_location=uri,tags = tags)
mlflow.set_experiment('model_v11_RF_255_hash')



#experiment = mlflow.get_experiment(experiment_id)
#print("Name: {}".format(experiment.name))
#print("Experiment_id: {}".format(experiment.experiment_id))
#print("Artifact Location: {}".format(experiment.artifact_location))
#print("Tags: {}".format(experiment.tags))
#print("Lifecycle_stage: {}".format(experiment.lifecycle_stage))

<Experiment: artifact_location='file:///Users/developer6/Documents/Klopp/backend/microservices/categorization/experiments/notebooks_sprint_2/mlruns/16', experiment_id='16', lifecycle_stage='active', name='model_v11_RF_255_hash', tags={}>

y_pred_prob=clf.predict_proba(X_test)
ix = y_pred_prob.argmax(1)

y_pred_prob[:,ix]

In [64]:
clf = None
y_train = None
y_test = None
X_train = None
X_test = None

In [65]:
#from pycaret.classification import *
#exp_mclf101 = setup(data = data, target = 'species', session_id=123)

In [66]:
X

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [67]:
cm = None

for num_fold, [train_index, test_index] in enumerate(kfold.split(X, Y)):

    with mlflow.start_run():

            print(num_fold)
            mlflow.log_param("num_fold",num_fold)
            X_train, X_test = X[train_index], X[test_index]
            y_train, y_test = Y[train_index], Y[test_index]

            n_estimators = 150
            random_state = 50
            
            mlflow.log_param("n_estimators",n_estimators)
            mlflow.log_param("random_state",random_state)

            # -------------------------------------------------------
            #clf = RandomForestClassifier(n_estimators = n_estimators, random_state = random_state)
            clf = xgboost.XGBClassifier(n_estimators = 30, learning_rate = 0.02, max_depth = 9, n_jobs=-1, num_parallel_tree=1,)
            # --------------------------------------------------------
            
            
            clf.fit(X_train, y_train)
            
            # ----------------------------------------------
            # predict
            y_pred = clf.predict(X_test)
            #evaluate(clf,X_test,y_test)
            cv_real.extend(y_test)
            cv_pred.extend(y_pred)

            #learning metrics
            cm = confusion_matrix(y_test, y_pred)
            
            print ("Confusion Matrix")
            print (cm)

            acc = accuracy_score(y_test, y_pred)
            cv_acc.append(acc)
            precision = precision_score(y_test, y_pred,pos_label='positive',average='micro')
            
            # -----------------------------------------------------
            mlflow.sklearn.log_model(clf, "model_"+ str(num_fold))
            mlflow.log_param("acc",acc)
            mlflow.log_param("precision",precision)
            # -----------------------------------------------------
            print ("Accuracy score: %f" % accuracy_score(y_test, y_pred))
            print ("Prescision score: %f" % precision_score(y_test, y_pred,pos_label='positive', average='micro'))

cm = confusion_matrix(cv_real[:], cv_pred[:])
print ("Confusion Matrix")
print (cm)
print("Var : ",np.var(cv_acc))
print ("Accuracy score: %f" % accuracy_score(cv_real, cv_pred))
mlflow.log_param("accuracy_score",accuracy_score(cv_real, cv_pred))
mlflow.log_param("var",np.var(cv_acc))
print("---------------------------------------------------------------------<>\n\n\n")

0
Confusion Matrix
[[33  7  0 ...  0  0 13]
 [ 0 63  0 ...  0  0  2]
 [ 0  0  0 ...  0  0  0]
 ...
 [ 0  0  0 ...  0  0  0]
 [ 0  0  0 ...  0  0  0]
 [ 0  0  0 ...  0  0 25]]
Accuracy score: 0.600755
Prescision score: 0.600755
1

ValueError: Invalid classes inferred from unique values of `y`.  Expected: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68], got [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 42 43 44 45 46 47 48
 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69]

In [ ]:
mlflow.end_run()

In [ ]:
len(cm[0])

In [ ]:


fig, ax = plot_confusion_matrix(conf_mat=cm,
                                colorbar=True,
                                show_absolute=False,
                                show_normed=True,
                                class_names=labes_names,
                               figsize=(30, 30))

plt.show()

In [ ]:
# from sklearn.metrics import plot_confusion_matrix
# plot_confusion_matrix(clf,X_test,y_test)

In [ ]:

df_class_report = pd.DataFrame(classification_report(cv_real[:], cv_pred[:],output_dict=True)).transpose()

In [ ]:
# df_class_report[df_class_report['precision']>.60].index

Se realizó una búsqueda para los pesos óptimos de las clases, debido al problema de clases desbalanceadas, los demás hiperparámetros se dejan para un segundo sprint por falta de tiempo ya que los datos son de alta dimensión, el vector numérico asociado al hash es de una dimensión 2^8. Es la dimensión en la que existe menos colisión y el rendimiento del modelo es cercano al 70%

Con `k-NN` se esperaban resultados similares a `RF`. La lógica incial es que k-NN calcula un conjunto de pesos locales (sus k vecinos) y va de acorde a la premisa de que tan parecidas son las palabras, es decir al conjunto de letras que las conforman, lo cual es una analogía de vecindad.

## k NN

In [ ]:
# Fuera del alcance por falta de tiempo

Experiementaremos con un algortimos basados en vecindades

In [ ]:
#define the model and parameters
knn = KNeighborsClassifier()

parameters = {'n_neighbors':[1,3,5,7,9,11],
              #'leaf_size':[1,3,5],
              'metric':['euclidean','manhattan'],
              'weights':['uniform','distance'],
              #'algorithm':['auto', 'kd_tree'],
              'n_jobs':[-1]
             }

#Fit the model
model = GridSearchCV(knn, param_grid=parameters, cv=3)
model.fit(X,Y)

Veamos como se comporta las métricas restantes (matriz de confusión y ROC ) utilizando validación cruzada con los mejores hiperparámetros obtenidos en la búsqueda de malla